@model AdminAudit.AdminAuditModel

<table id="table-admin-audit" class="basic">
    <thead>
    <th>Date</th>
    <th>User</th>
    <th>Action</th>
    <th>Area</th>
    <th>Name</th>
    <th>Field</th>
    <th>Before</th>
    <th>After</th>    
    </thead>
    <tbody>
        @foreach (var audit in Model.data)
        {
            <tr id="row-@audit.Id">
                <td>@audit.Created.ToString()</td>
                <td>@audit.Fullname</td>
                <td>@audit.Action.ToString()</td>
                <td>@audit.AdminArea.ToString()</td>
                <td>@audit.RowNameDisplay</td>
                <td>@audit.FieldChangedDisplay</td>
                <td style=" word-break: break-all;">@audit.ValueBefore.ToString()</td>
                <td style=" word-break: break-all;">@audit.ValueAfter.ToString()</td>                
            </tr>
        }
    </tbody>
</table>