@using System.Web.Mvc.Html;
@using System.Linq;
@using Countersoft.Gemini.Models;
@using Countersoft.Gemini;


@if (Model.Count > 0)
{
        <table class="grid width-100">
            <thead>               
                <tr>
                    <th></th>
                    <th>@GetResource(ResourceKeys.Case)</th>
                    <th>@GetResource(ResourceKeys.Title)</th>                                
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {                                   
                    <tr id='item-@item.Entity.Id'>
                        <td class='no-width no-wrap'><input type="checkbox" name="searched-test-cases" class="fancy" value="@item.Entity.Id"/></td>
                        <td class='no-width no-wrap'><a href='@NavigationHelper.GetIssuePageUrl(item, 0, GeminiContext.Url)'>@Html.Raw(item.IssueKey)</a></td>
                        <td class='title'>@Html.Raw(item.Entity.Title)</td>
                    </tr>
                }
        
            </tbody>
        </table>
    
    <div class="margin-top-20"><input type="button" id="add-cases" name="add-cases" value="@GetResource(ResourceKeys.Add)" class="button-primary btn"/></div>
    
    <script type="text/javascript">
        gemini_ui.fancyInputs('#case-details .fancy');

        var planId = $('#case-details').data('id');
        $('#case-details #add-cases').click(function () {
            var checkedData = $('#case-details #search-container #data input[type=checkbox]:checked');

            if (checkedData.length > 0)
            {
                gemini_ui.startBusy('#case-details #add-cases');
                var checked_items = new Array();
                var index = 0;
                $.each(checkedData, function (index, value) {
                    checked_items[index++] = $(value).val();
                });

                gemini_ajax.postCall('apps/countersoft/testing/case', 'link',
                function (response) {
                    $('#case-details #search-container #data').html('');
                    gemini_ui.stopBusy('#case-details #add-cases');
                    $('#case-details #item-match').val('');
                    gemini_item.getAppControlValue(planId, 'D074E9B2-4F1D-46D6-B594-192A562AB38A', '598B4999-4C31-427D-9BBC-C84AD954E55A', 'link');
                },
                function () { gemini_ui.stopBusy('#case-details #add-cases'); }, { data: checked_items, planId: planId }, null, true);
            }
        });

        gemini_item.setContentHeight();

    </script>
}
else
{
    <div class="margin-top-20">No Data</div>
}
