@model Countersoft.Gemini.Breeze.MergeModel

<link rel="stylesheet" href="~/assets/styles/apps/4192EAA7-9D09-4E36-97C3-64FCE039EDB4/breeze.css" media="screen, projection" />
<script type="text/javascript" src="~/assets/scripts/apps/4192EAA7-9D09-4E36-97C3-64FCE039EDB4/breeze.js"></script>
<div id="breeze-merge-main">
<div class="margin-bottom-5">Search and select @GetResource(ResourceKeys.Items, Countersoft.Foundation.Commons.Enums.Resourcing.Lower) to merge into this @GetResource(ResourceKeys.Item, Countersoft.Foundation.Commons.Enums.Resourcing.Lower)</div>
<input type="text" id="breeze-merge-input" name="breeze-merge-input" class="input-size7" />
<div id="merge-tickets-data" class="margin-top-10 margin-bottom-10"></div>
<div class="margin-top-5"><div class="left" style="margin-top:7px;"><input type="checkbox" class="fancy" id="breeze-merge-link" name="breeze-merge-link" /><label for="breeze-merge-link">Link @GetResource(ResourceKeys.Items, Countersoft.Foundation.Commons.Enums.Resourcing.Lower)</label></div><span id="merge-link-dropdwon" class="invisible">&nbsp;using&nbsp;&nbsp;@Html.DropDownList("breeze-merge-linkName", Model.LinkTypes, new { @class = "input-size3" })&nbsp;&nbsp;@GetResource(ResourceKeys.LinkType, Countersoft.Foundation.Commons.Enums.Resourcing.Lower)</span></div>
<div class="margin-top-5"><div class="left" style="margin-top:7px;"><input type="checkbox" class="fancy" id="breeze-merge-status" name="breeze-merge-status" /><label for="breeze-merge-status">Close @GetResource(ResourceKeys.Items, Countersoft.Foundation.Commons.Enums.Resourcing.Lower)</label></div><span id="merge-status-dropdwon" class="invisible">&nbsp;using&nbsp;&nbsp;@Html.DropDownList("breeze-merge-statusName", Model.Stauses, new { @class = "input-size3" })&nbsp;&nbsp;@GetResource(ResourceKeys.Status, Countersoft.Foundation.Commons.Enums.Resourcing.Lower)</span></div>
<div class="clearfix"></div>
<div class="margin-top-5"><input type="button" value="Merge" class="button-primary button-popup" id="breeze-merge-submit" /></div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        breezeReply.initMerge(@Model.IssueId, '@Model.IssueKey', [@Html.Raw(Model.Links)]);
    });
</script>