@using Countersoft.Gemini.Models;
@model ViewIssueModel

<div class="history">
    <span class="background-orange warning left">!</span>
    <h2>@GetResource(ResourceKeys.AnotherUserModified) @(GetResource(ResourceKeys.Item, Resourcing.Lower)). </h2>
    <p>@GetResource(ResourceKeys.ReviewAndClickSend)</p>

    <table cellpadding="0" cellspacing="0" class="history">
        <tr>
            <th>@GetResource(ResourceKeys.Date)</th>
            <th>@GetResource(ResourceKeys.User)</th>
            <th>@GetResource(ResourceKeys.Field)</th>
            <th>@GetResource(ResourceKeys.Before)</th>
            <th>@GetResource(ResourceKeys.After)</th>
        </tr>
        @foreach (var history in Model.Issue.History)
        {
            <tr>
                <td class="no-wrap">@history.Entity.Created.ToString()</td>
                <td class="no-wrap">@history.Entity.Fullname</td>
                <td class="no-wrap">@history.Field</td>

                @{
                    var valueBefore = Countersoft.Foundation.Utility.Helpers.HtmlHelper.ConvertHtmlToText(history.Entity.ValueBefore.ToMaxMore(1000), true);
                    var valueAfter = Countersoft.Foundation.Utility.Helpers.HtmlHelper.ConvertHtmlToText(history.Entity.ValueAfter.ToMaxMore(1000), true);
                }

                <td class="before" title="@valueBefore">@valueBefore.ToMaxMore(100)</td>
                <td class="after" title="@valueAfter">@valueAfter.ToMaxMore(100)</td>
            </tr>
        }
    </table>
</div>