@model ProjectAdmin.Models.ProjectAdminProjectGroupMembersModel

<div id="ProjectGroupMemberContainer" style="height: 600px; width: 800px;">
    <input id="id" name="id" type="hidden" value="@Model.Group.Id" />
    <p class="bold margin-bottom-10">@Model.Group.Name</p>
    <div id="cs-template" class="project-group-members" style="overflow: hidden; width: 800px; height: 100%; outline: none;">
        <table id="projects-list" class="cs-properties width-100" cellpadding="0" cellspacing="0">
            @foreach (var project in Model.Projects)
            {
                <tr id="@project.Id">
                    <td style="width: 300px; vertical-align: top;"><span @if (project.Id == Countersoft.Gemini.Commons.Constants.AllProjectsId)
                                                                         { <text> class='bold' </text>  }>@project.Name</span></td>
                    <td style="vertical-align: top;" id="summary-cell-@project.Id" data-summary='@project.Summary'>
                        <form id="PGPICKER-FORM">
                            <input type="hidden" name="mode" id="mode" value="projectmembers" />
                            <input type="hidden" name="PGPICKER-PROJECT" id="PGPICKER-PROJECT" value="@project.Id" />
                            <input type="hidden" name="PGPICKER-GROUP" id="PGPICKER-GROUP" value="@Model.Group.Id" />
                            @Html.ListBox("PGPICKER__" + Model.Group.Id, Model.Users, new { @class = "input-size9 " + @Model.Classes })
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<script type="text/javascript">
    var currentParent = null;
    var currentHtml = null;
    $(".project-group-members").jScrollPane({ autoReinitialise: true, autoReinitialiseDelay: 250 });

    $("#popup-button-no").unbind('click').click(function (e) { gemini_popup.popupClose(e); });

    $("#ProjectGroupMemberContainer").on('click', ".summary-line", function (e)
    {
        gemini_commons.stopClick(e);
        var item = $(this);
        if (currentParent != null) currentParent.html(currentHtml);
        currentParent = item.parent();
        currentHtml = currentParent.html();
        var projectId = item.parent().closest("tr").attr("id");
        var groupId = $("#id").val();

        gemini_ajax.postCall("apps/projectAdmin/projectgroupmemberseditor", null, function (response)
        {
            item.parent().html(response.Result.Data.Html);
        }, null, { projectId: projectId, groupId: groupId }, null, true);
    });

    var projectId = $('#PGPICKER-PROJECT').val();

    gemini_ui.chosen("#PGPICKER__" + '@Model.Group.Id', null, true);
    gemini_ui.ajaxChosen('select.no-chosen.auto-complete-chosen', null, false, 'apps/projectAdmin/getcustomfieldvalue');
</script>
